<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header">
    <img src="../../assets/images/logo1.jpg" height="60px" width="100px" >

  <div class="header-right">
    <a routerLink="">Home</a>
    <a (click)="onLogout()">Logout</a>
  </div>
  </div>

  <div class="body" >
        <div class="menudiv">
              <div class = "menu1">
                <div class="userName"> 
                    <p style="color: black"> Welcome {{userService.selectedUser.FirstName}}</p>
                </div>
              </div>
    
              <div class="menu">
               <ul>
                <li><a  routerLink="/userProfile" routerLinkActive="active" style="font-weight:bolder; background-color: rgb(226, 210, 63)">Profile</a></li>
               <li><a routerLink="/myPlan" routerLinkActive="active">My Plan</a></li>
                <li><a routerLink="/goalList" routerLinkActive="active">Goals</a></li>
                <li ><a (click)="Update()"  routerLink="/userProfile" routerLinkActive="active">Update</a></li>
               </ul>
               </div>
        </div>
        

        <div class="container">

                <form #updateForm="ngForm" (ngSubmit)="updateForm.valid && onSubmit(updateForm)" id="updation-form">
                        <div class="form-group form-input">
                            <input type="text" name="FirstName" id="firstname" #FirstName="ngModel" [(ngModel)]="userService.selectedUser.FirstName" required [ngClass]="{'invalid-textbox' :updateForm.submitted && !FirstName.valid }"  disabled>
                            <div *ngIf="updateForm.submitted && !FirstName.valid">
                                <label class="validation-message">This field is required.</label>
                            </div>
                            <label for="name" class="form-label">Your First Name</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="text" name="LastName" id="lastname" #LastName="ngModel" [(ngModel)]="userService.selectedUser.LastName" required [ngClass]="{'invalid-textbox' :updateForm.submitted && !LastName.valid }" disabled>
                            <div *ngIf="updateForm.submitted && !LastName.valid">
                                <label class="validation-message">This field is required.</label>
                            </div>
                            <label for="name" class="form-label">Your Last Name</label>
                        </div>
                        

                        <div class="form-group form-input">
                            <input type="text" name="MobileNo" id="phone" #MobileNo="ngModel" [(ngModel)]="Mobile" required [ngClass]="{'invalid-textbox' :updateForm.submitted && !MobileNo.valid }" disabled>
                            <div *ngIf="updateForm.submitted && !MobileNo.valid">
                                <label class="validation-message">This field is required.</label>
                            </div>
                            <label for="phone" class="form-label">Your Mobile Number</label>
                        </div>

                        <div class="form-group form-input">
                            <input type="email" name="Email" id="emailid" #Email="ngModel" [(ngModel)]="userService.selectedUser.Email"  required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :updateForm.submitted && !Email.valid }" disabled>
                            <div  *ngIf="!Email.errors" >
                                   
                            </div>
                            
                            <div *ngIf="updateForm.submitted && Email.errors">
                                <label *ngIf="Email.errors.required" class="validation-message">This field is required.</label>
                                <label *ngIf="Email.errors.pattern" class="validation-message">Invalid email address.</label>
                            </div>
                            <label for="email" class="form-label">Your Email Address</label>
                        </div>
                    </form>

        </div>
                    