<p>goal-list works!</p>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header">
    <img src="../../assets/images/logo1.jpg" height="60px" width="100px" >

  <div class="header-right">
    <a href="">Home</a>
    <a href="">Logout</a>
  </div>
  </div>

  <div class="body" >

        <div class="menudiv">
              <div class = "menu1">
                <p style="color: black">Welcome</p>
                <p style="color: black">User</p>
              </div>
    
              <div class="menu">
               <ul>
                <li><a  href="#home" routerLink="/myprofile" routerLinkActive="active">Profile</a></li>
                <li><a routerLink="/myplan" routerLinkActive="active">My Plan</a></li>
                <li><a routerLink="/goals" routerLinkActive="active" style="font-weight:bolder; background-color: rgb(226, 210, 63)">Goals</a></li>
                <li><a href="#about">Update</a></li>
               </ul>
               </div>
        </div>
        
      <div class="goals1">
          

          <div class="pic1">
                <img src="../../assets/images/weight.jpg" height="155px" width="220px" >
          </div>
          
            <div class = "info1"> 
        <h2>Weight Loss</h2>
        A choice that can make a difference... <br>
        Our company is committed to helping its clients reach their weight loss goals. <br>
        We strive to make their journey successful by offering everything that is best, <br>
        that could help them to lose weight.
        </div>
        <a href="#" class="button"  routerLink="/goalWL">Join</a>

        </div>
  
        <div class="goals2">
            <div class="pic1">
                <img src="../../assets/images/nutrition.jpg" height="155px" width="220px" >
          </div>

          <div class = "info1"> 
              <h2>Nutrition</h2>
              Good nutrition is an important part of leading a healthy lifestyle.<br>
               Combined with physical activity, your diet can help you to reach and maintain a healthy 
               weight, reduce your risk of diseases and promote your overall health.<br>
              </div>
              <a href="#" class="button" routerLink="/goalN">Join</a>
            
        </div>
  
        <div class="goals3">
            <div class="pic1">
                <img src="../../assets/images/stamina.jpg" height="155px" width="220px" >
          </div>

          <div class = "info1"> 
              <h2>Stamina</h2>
                Boosting up your stamina and ability to work efficiently...<br>
              </div>
              <a href="#" class="button" routerLink="/goalSt" >Join</a>
            
        </div>
      </div>  